.container {
    display: grid;
    grid-template: repeat(4, 200px) / repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}
.item {
    border: 1px solid red;
    background: lightblue;
}
.item:nth-of-type(5) {
    align-self: start;
    justify-self: start;
}