.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px 10px;
    height: 100vh;
}
.item {
    border:1px solid red;
    background: lightblue;
}
.item:nth-of-type(4) {
    grid-column: span 2;
}